body{
  font-family: monospace;
  background-color: #172531;
  text-align: center;
  color: #f0f4f8;
}
a:link,a:visited{
  color: #f0f4f8;
}
nav ul li a:hover{
  color: #203344;
  background-color: #9bb7d0;
}
ul li{display: inline;}
header p{
  font-size: 24px;
}
ul li{display: inline;}
nav{
  font-size: 19px;
}
footer{
  position:absolute;
  bottom: 0px;
  left: 0px;
  right:0px;
  height: 40px;
}
section{
  margin-left: 17%;
  margin-right: 17%;
}
img{
  background-color: #cddbe7;
  border-radius: 15%;
	border: 7px solid #cddbe7;
	box-shadow: 12px 12px 20px 0px #cddbe7,
		-12px -12px 32px 0px #cddbe7);
}
