body{
  font-family: monospace;
  background-color: #172531;
  text-align: center;
  color: #cddbe7;
}
a:link,a:visited{
  color: #6993b8;
}
nav ul li a:hover{
  color: #203344;
  background-color: #9bb7d0;
}
ul li{display: inline;}
header p{
  font-size: 24px;
}
nav{
  font-size: 19px;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
section{
  margin-left: 17%;
  margin-right: 17%;
}
img{
  background-color: #6993b8;
  border-radius: 15%;
	border: 7px solid #6993b8;
  max-width: 700px; max-height: 700px;
}
#FB{
  text-align: center;
  font-size: 17px;
}
figcaption{
  font-size: 19px;
}
