body{
  font-family: sans-serif;
  background-color: rgb(77, 15, 32);
  text-align: center;
  color: rgb(145, 152, 217);
}
a:link,a:visited{
  color: rgb(145, 152, 217);

}
nav ul li a:hover{
  background-color: black;
}
ul li{display: inline;}
header p{
  font-size: 24px;
}
ul li{display: inline;}
nav{
  font-size: 19px;
  background-color: rgb(48, 7, 19);
}
footer{
  position:absolute;
  bottom: 0px;
  left: 0px;
  right:0px;
  height: 40px;
}
section{
  margin-left: 17%;
  margin-right: 17%;
}
img{
  border-radius: 20%;
  background-color: rgb(174, 145, 217);
	border: 7px solid rgb(145, 152, 217);
	box-shadow: 12px 12px 20px 0px rgb(145, 152, 217),
		-12px -12px 20px 0px rgb(145, 152, 217));
}
