html{
   min-height: 100%;
   min-width:100%;
}
body{
  font-family: sans-serif;
  background-image: linear-gradient(to bottom, #362e4a, #6b5b95,
#c3bcd6);
  text-align: center;
  color: #e1ddea;
}
a{
  text-decoration: none;
    transition: text-shadow .3s;
}
a:link,a:visited{
  color: #e1ddea;
}
nav ul li a:hover{
  text-shadow: -10px -10px #362e4a;
  font-weight: bold;
}
ul li{
  display: inline;
  padding: 10px;
}

header p{
  font-family: serif;
  font-size: 24px;
}

footer{
  position:absolute;
  bottom: 0px;
  left: 0px;
  right:0px;
  height: 40px;
  color: #362e4a;
}
section{
  margin-left: 17%;
  margin-right: 17%;
}
img{
	transition: background-color .5s, box-shadow 1s;
}
img:hover{
  background-color: #362e4a4f;
  border-radius: 10%;
	box-shadow: 10px 10px 12px 0px #6b5b95,
		-10px -10px 12px 0px #6b5b95;
}
